div.lista{
  max-width: 700px;
  margin-top: 62px;
  margin:30px auto 0;
  font: 16px Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 15px; 
  color: #333;
  text-align: center;
}

div.lista header#cabecalho{
  font: 18px Arial, Helvetica, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  
  color: #333;
}

.devs li#lista-devs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.devs {
  margin: 0 0 2px 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.devs label#descricao{
  margin-top: 7px;
}

.devs li {
  left: 0;
  background-color: #EEE;
  margin: 10px;
  padding: 8px;
  height: 30px;
  border-radius: 4px;
}

.devs .id {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 14px 12px 0 10px;
  background-color:#008CBA;
  line-height: 1em;
  position: relative;
  left: -8px;
  top: -7px;
  height: 30px;
  margin-right: px;
  border-radius: 4px 0 0 4px;
}

.devs li button#apagar{
    margin-left: 10px;
    margin-right: 10px;
    color: #EEE;
    background: #ca1e1e;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.devs li button#apagar:hover{
    background: #aa1515;
}

.devs li button#atualizar{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #008CBA;
    padding: 8px;
    cursor: pointer;
}

.devs li button#atualizar:hover{
    background: #008CBA;
    color: #fff;
}

div#lista label#msglista{
  margin-bottom: 10px;
  font-style: italic;
  font-size: 14px;
}
